<div class="menu">
    <ul class="left">
        <li class="logo"><a href="/admin"><i class="fa fa-globe" aria-hidden="true"></i>{{site.name}}管理中心</a></li>
    </ul>
    <ul class="right">
        {{#if session.user}}
			<li>
				<a href="/account">{{session.user.username}}</a>
			</li>
			<li>
				<a href="/logout">退出</a>
			</li>
        {{else}}
            <li>
				<a href="/login">登陆</a>
			</li>
            <li>
				<a href="/reg">注册</a>
			</li>
        {{/if}}
    </ul>
</div>
