{{#extend "head"}}
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/admin.css"/>
{{/extend}}
{{#extend "foot"}}
	<script src="/js/system.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/admin.js"></script>
    <script type="text/javascript">
        socket = io();

        // when socket connect
        socket.on("connect", data => {

            socket.emit("admin", (data) => {
                for (let s in data.status) {
                    let status = data.status[s];
                    console.log(s, status);
                    $(`button.${s}`).attr("disabled", status);
                    if (status) {
                        $(`button.${s}`).text("运行中...");
                    } else {
                        $(`button.${s}`).text("启动");
                    }
                }
            });

        });
        $(function () {
            $("div.checked").click(function () {
                if ($(this).hasClass("on")) {
                    $(this).removeClass("on");
                } else {
                    $(this).addClass("on");
                }
            });
        });
    </script>
{{/extend}}
