<div class="sider">
    <ul>
        <li>
            <a{{#ex "{{site.url}}==='/admin'"}} class="on" {{/ex}} href="/admin">
                <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                <span>站点统计</span>
            </a>
        </li>
        <li>
            <a{{#ex "{{site.url}}==='/admin/setting'"}} class="on" {{/ex}} href="/admin/setting">
                <i class="fa fa-gear" aria-hidden="true"></i>
                <span>站点资料</span>
            </a>
        </li>
        <li>
            <a{{#ex "{{site.url}}==='/admin/database'"}} class="on" {{/ex}} href="/admin/database">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span>数据库管理</span>
            </a>
        </li>
        <li>
            <a{{#ex "{{site.url}}==='/admin/users'"}} class="on" {{/ex}} href="/admin/users">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a{{#ex "{{site.url}}==='/admin/items'"}} class="on" {{/ex}} href="/admin/items">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <span>淘宝商品</span>
            </a>
        </li>
        <li>
            <a{{#ex "{{site.url}}==='/admin/console'"}} class="on" {{/ex}} href="/admin/console">
                <i class="fa fa-recycle" aria-hidden="true"></i>
                <span>资源采集</span>
            </a>
        </li>
        <li>
            <a{{#ex "{{site.url}}==='/admin/logs'"}} class="on" {{/ex}} href="/admin/logs">
                <i class="fa fa-chrome" aria-hidden="true"></i>
                <span>访问日志</span>
            </a>
        </li>
    </ul>
</div>
