{{> admin/include}}
{{> admin/header}}
{{> admin/sider}}
<div class="container">
    <div class="row">

        <div class="row-12">
            <div class="doContent">

                <div class="items on">
                    <div class="row">
                        <div class="row-2">
                            <button class="command taobaoKu" disabled="disabled">运行中...</button>
                            <button id="tbk">运行中...</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-12">
                            <h1>淘宝商品采集日志
                                <span>显示最近100条记录</span>
                            </h1>
                        </div>
                        <div class="row-12">
                            <div class="console taobaoItem">
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{{#extend 'foot'}}
    <script type="text/javascript">
        $(() => {

            // server console
            socket.on("console", message => {
                _console(message);
            });

            socket.on("command", (command, status) => {
                $(`button.${command}`).attr("disabled", status);
                if (status) {
                    $(`button.${command}`).text("运行中...");
                } else {
                    $(`button.${command}`).text("启动");
                }
            });

            // add search keyword in db
            $("button.search").click(function () {
                let txt = $.trim($(`input.search`).val());
                $.ajax({
                           url: "/admin/console?mode=gatherAdd",
                           type: "POST",
                           data: {
                               search: txt
                           },
                           dataType: "json",
                           success: function (msg) {
                               if (msg.gather.ok === 1) {
                                   $("div.gather").append($("<div />").addClass("row-2").append($("<label />").text(txt).append($("<i />").addClass("delete"))));
                               } else {
                                   console.log(msg);
                               }
                           },
                           error: function (e, err) {
                               console.log(e, err);
                           }
                       });
            });

            // delete keyword in db
            $("i.delete").click(function () {
                let div = $(this).parent().parent();
                let txt = $.trim($(this).parent().text());
                $.ajax({
                           url: "/admin/console?mode=gatherDel",
                           type: "POST",
                           data: {
                               search: txt
                           },
                           dataType: "json",
                           success: function (msg) {
                               if (msg.gather.ok === 1) {
                                   div.remove();
                               } else {
                                   console.log(msg);
                               }
                           },
                           error: function (e, err) {
                               console.log(e, err);
                           }
                       });
            });

            // open or close getItem
            $(".command").click(function () {
                let classes = $(this).attr("class").split(" ");
                socket.emit("command", classes[1]);
                $(this).attr("disabled", true).text("运行中...");
            });

            // set cookie in server
            $("#setCookie").click(function () {
                socket.emit("setCookie", $("textarea.cookie").val(), (mode, msg) => {
                    if (mode === "console") _console(msg);
                });
            });

            // open or close tbk
            $("#tbk").click(function () {
                socket.emit("tbk", "start");
                $(this).attr("disabled", true).text("运行中...");
            });

            // list button
            $("div.do > ul > li").click(function () {
                if (!$(this).hasClass("on")) {
                    $("div.do > ul > li").removeClass("on");
                    $(`div.doContent > div`).removeClass("on");
                    $(`div.doContent > div.${$(this).attr("class")}`).addClass("on");
                    $(this).addClass("on");
                }
            });

        });

        function resize() {
            $("div.console").height($(window).height() - 70);
        }

        function _console(message) {
            let div = $(`div.console > ul`);
            if (div.children("li").length >= 100) {
                div.children("li:last-child").remove();
            }
            let li = $("<li />").addClass(`${message.status}`);
            let b = $("<b />").text(`[${message.timer}]`).appendTo(li);
            $("<b />").addClass("type").text(message.type).appendTo(li);
            li.append(message.message);
            div.prepend(li);
        }
    </script>
{{/extend}}
