{{> admin/include}}
{{> admin/header}}
{{> admin/sider}}
<div class="container">
    <div class="row">
        <div class="row-6">
            <div class="info">
                <h1 class="tbk_count">{{tbk_count}}</h1>
                <span>已淘宝客链接</span>
            </div>
        </div>
        <div class="row-6">
            <div class="info">
                <h1 class="items_count">{{items_count}}</h1>
                <span>所有宝贝数量</span>
            </div>
        </div>
    </div>
    <div class="row">
        {{#each items}}
            <div class="row-2 items">
                <div class="item">
                    <img src="{{pict_url}}"/>
                    <div class="content">
                        <h1>
                            <a target="_blank" href="/item/{{_id}}">{{title}}</a>
                        </h1>
                        <span class="author" title="{{seller_id}}">{{nick}}</span>
                        <span class="money">
                        <b>{{zk_final_price}}</b>/{{reserve_price}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="row-12">
            <ul class="page">
                <li>
                    <a class="page on" href="?page=1" data="1">1</a>
                </li>
                <li>
                    <a class="page" href="?page=2" data="2">2</a>
                </li>
                <li>
                    <a class="page" href="?page=3" data="3">3</a>
                </li>
                <li>
                    <a class="page" href="?page=4" data="4">4</a>
                </li>
                <li>
                    <a class="page" href="?page=5" data="5">5</a>
                </li>
                ...
                <li>
                    <a class="page" href="?page={{run " Math.round({{items_count}}/18) "}}"
                       data="{{run " Math.round({{items_count}}/18) "}}">{{run "Math.round({{items_count}}/18)"}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{#extend "foot"}}
    <script type="text/javascript">
        $(function () {

            page("{{site.url}}", function (data) {
                console.log(data);
            });

        });


    </script>
{{/extend}}
