{{> admin/include}}
{{> admin/header}}
{{> admin/sider}}
<div class="container">
    <div class="row">
        <div class="row-12">

        </div>
        <div class="row-12">
            <div class="console">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
{{#extend 'foot'}}
    <script type="text/javascript">
        $(() => {
            resize();
            _console({type: "Gather.cookies.set", success: true, message: `cookies内容获取成功!正在启动主体程序...`});
			_console({type: "Gather.cookies.set", success: false, message: `cookies内容获取成功!正在启动主体程序...`});

            // server console
            window.socket.on("console", message => {
                // console.log(message);
				_console(message);
            });

        });
        $(window).resize(() => {
            resize();
        });

        function resize() {
            $("div.console").height($(window).height() - 70);
        }

        function _console(message) {
            let li = $("<li />").addClass(`${message.success}`).appendTo($("div.console > ul"));
            let b = $("<b />").text("[2017-12-12 00:00:00]").appendTo(li);
            $("<b />").addClass("type").text(message.type).appendTo(li);
            li.append(message.message);
        }
    </script>
{{/extend}}
