{{> admin/include}}
{{> admin/header}}
{{> admin/sider}}
<div class="container">
	<div class="row">
		<div class="row-12">
			<div class="config"></div>
			<div class="row">
				<div class="row-12">
					<button id="save">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{#extend 'foot'}}
	<script type="text/javascript">
		$(() => {
			// get config
			window.socket.emit("config", config => {
				window.config = config;
				list_config($("div.config"), window.config);
			});

			$("#save").click(function () {
				window.socket.emit("config.set", window.config, res => {
					console.log(res);
				});
			});
		});
	</script>
{{/extend}}
{{#extend 'head'}}
	<style type="text/css">

	</style>
{{/extend}}
