{{> admin/include}}
{{> admin/header}}
{{> admin/sider}}
<div class="container">
    <div class="row">

        <div class="row-12">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>用户手机</th>
                    <th>用户邮箱</th>
                    <th>用户余额</th>
                    <th>用户等级</th>
                    <th>已购商品</th>
                    <th>最后购买</th>
                    <th>绑定微信</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td>{{money}}</td>
                        <td>{{level}}</td>
                        <td>{{items_number}}</td>
                        <td>{{item_last}}</td>
                        <td>{{wechat}}</td>
                        <th>
                            <button class="edit">修改</button>
                        </th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
