<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>{{site.title}}</title>
    <meta name="keywords" content="{{site.keywords}}"/>
    <meta name='description' content="{{site.description}}"> {{{block "head"}}}
</head>

<body>
{{{body}}}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/cookies.js"></script>
<script src="/socket.io/socket.io.js"></script>
{{{block "foot"}}}
</body>

</html>
