{{> admin/include}}
{{> admin/header}}
{{> admin/sider}}
<div class="container">

    <div class="row">
        <div class="row-3">
            <div class="info">
                <h1 class="person_online">0</h1>
                <span>在线人数</span>
            </div>
        </div>
        <div class="row-3">
            <div class="info">
                <h1 class="user_counts">{{user_counts}}</h1>
                <span>注册人数</span>
                <ul class="canvas user_counts"></ul>
            </div>
        </div>
        <div class="row-3">
            <div class="info">
                <h1 class="tbk_counts">{{tbk_counts}}</h1>
                <span>淘客链接</span>
                <ul class="canvas tbk_counts"></ul>
            </div>
        </div>
        <div class="row-3">
            <div class="info">
                <h1 class="item_counts">{{item_counts}}</h1>
                <span>全部宝贝</span>
                <ul class="canvas item_counts"></ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row-4">
            <div class="system">
                <h1 class="cpu">CPU
                    <span class="now">0</span>
                    <span class="max">0</span>
                    <span class="min">0</span>
                </h1>
                <ul class="canvas cpu"></ul>
            </div>
        </div>
        <div class="row-4">
            <div class="system">
                <h1 class="ram">RAM
                    <span class="now">0</span>
                    <span class="max">0</span>
                    <span class="top">0</span>
                </h1>
                <ul class="canvas ram"></ul>
            </div>
        </div>
        <div class="row-4">
            <div class="system">
                <h1 class="speed">SPEED
                    <span class="now">0</span>
                    <span class="max">0</span>
                    <span class="min">0</span>
                </h1>
                <ul class="canvas speed"></ul>
            </div>
        </div>
    </div>

</div>

{{#extend 'foot'}}

    <script type="text/javascript">

        $(function () {

            // 当服务器连接上时
            window.socket.on("connect", () => {

                window.socket.emit("admin", data => {
                    $("h1.person_online").text(data.users);
                });

            });

            window.socket.on("users", data => {
                $("h1.person_online").text(data);
            });
            window.socket.on("system", data => {
                var cpus = $("ul.canvas.cpu");
                while ($("ul.canvas.cpu > li").length >= Math.floor($("ul.canvas.cpu").width())) {
                    $("ul.canvas.cpu > li:first").remove();
                }
                var li = $("<li />").appendTo(cpus);
                li.append($("<span />").height(1).animate({height: `${Math.floor(data.cpus + 1)}%`}, 200));
                $("h1.cpu > span.now").text(Math.floor(data.cpus));
                if (data.cpus > Number($("h1.cpu > span.max").text())) $("h1.cpu > span.max").text(Math.floor(data.cpus));
                if (data.cpus < Number($("h1.cpu > span.min").text())) $("h1.cpu > span.min").text(Math.floor(data.cpus));

                var rams = $("ul.canvas.ram");
                while ($("ul.canvas.ram > li").length >= Math.floor($("ul.canvas.ram").width())) {
                    $("ul.canvas.ram > li:first").remove();
                }
                var li = $("<li />").appendTo(rams);
                li.append($("<span />").height(1).animate({height: `${Math.floor(data.rams + 1)}%`}, 200));
                $("h1.ram > span.now").text(Math.floor(data.rams));
                if (data.rams > Number($("h1.ram > span.max").text())) $("h1.ram > span.max").text(Math.floor(data.rams));
                $("h1.ram > span.top").text(data.topram);
            });
            window.socket.on("speed", nu => {

            });
        });

    </script>
{{/extend}}
