{{> index/include}}
{{#extend "head"}}
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>{{/extend}} {{#extend "foot"}}
    <script type="text/javascript">
        $(function () {
            resizeImg();
        });
        $(window).resize(function () {
            resizeImg();
        });

        function resizeImg() {
            $(".img").each(function () {
                $(this).height($(this).width());
            });
        }
    </script>
{{/extend}}
{{> index/header}}

<div class="container">

    <div class="row">

        <div class="row900">
            <div class="row">
                {{#each items}}
                    <div class="row222">
                        <div class="row list-left item">
                            <div class="row-3">
                                <a target="_blank" class="img square" href="/item/{{_id}}" title="{{title}}">
                                    <img src="{{pict_url}}"/>
                                </a>
                            </div>
                            <div class="row-9">
                                <h1>
                                    <div class="content">
                                    <span class="money left">
                                        <b>{{zk_final_price}}</b>
                                    </span>
                                        <span class="right">
                                        {{volume}}
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </span>
                                        <br class="clear"/>
                                    </div>
                                    <a target="_blank" href="/item/{{_id}}" title="{{title}}">{{title}}</a>
                                    <div class="content">
                                    <span class="author left" title="{{nick}}">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>{{nick}}</span>
                                        <span class="right">{{provcity}}</span>
                                        <br class="clear"/>
                                    </div>
                                </h1>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="row300">
            <div class="row">
                <div class="row-12">
                    <h1 class="title">最新热卖
                        <span>不一定是你喜欢，却是当下最流行！</span>
                    </h1>
                </div>
            </div>
            <div class="row">
                {{#each hots}}
                    <div class="row-12">
                        <div class="row list-right item">
                            <div class="row-4">
                                <a target="_blank" class="img" href="/item/{{_id}}" title="{{title}}">
                                    <img src="{{pict_url}}"/>
                                </a>
                            </div>
                            <div class="row-8">
                                <h1>
                                    <div class="content">
                                    <span class="money left">
                                        <b>{{zk_final_price}}</b>
                                    </span>
                                        <span class="right">
                                        {{volume}}
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </span>
                                        <br class="clear"/>
                                    </div>
                                    <a target="_blank" href="/item/{{_id}}" title="{{title}}">{{title}}</a>
                                    <div class="content">
                                    <span class="author left" title="{{nick}}">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>{{nick}}</span>
                                        <span class="right">{{provcity}}</span>
                                        <br class="clear"/>
                                    </div>
                                </h1>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>
