{{> index/header}}
<div class="login">
	<ul>
		<li>
			<label>手机号</label>
			<input type="tel" id="phone"/>
		</li>
		<li>
			<label>密码</label>
			<input type="password" id="password"/>
		</li>
		<li>
			<button id="login">登陆</button>
		</li>
	</ul>
</div>


{{> index/include}}
{{#extend "head"}}
	<style type="text/css">
		div.login {
			max-width: 600px;
			padding: 10px;
			margin: auto;
		}

		div.login ul {
			list-style: none;
		}

		div.login ul li {
			margin-bottom: 10px;
		}
	</style>
{{/extend}}
{{#extend "foot"}}
	<script type="text/javascript">
		$(function () {
			$("#login").click(function () {
				var btn = $(this);
				btn.css("disabled", true).text("登陆中...");
				$.ajax(
					{
						url: "/login",
						type: "post",
						data: {
							username: $("#phone").val(),
							password: $("#password").val(),
							repassword: $("#repassword").val()
						},
						success: function (data) {
							console.log(data);
							if (data.success) document.location.href = window.query.url && window.query.url !== "" ? window.query.url : "/";
							btn.css("disabled", false).text("登陆");
						},
						error: function (err) {
							console.log(err);
							btn.css("disabled", false).text("登陆");
						}
					}
				);
			});
		});
	</script>
{{/extend}}
