{{> index/header}}
<div class="login">
	<ul>
		<li>
			<label>手机号</label>
			<input type="tel" id="phone"/>
		</li>
		<li>
			<label>密码</label>
			<input type="password" id="password"/>
		</li>
		<li>
			<label>确认</label>
			<input type="password" id="repassword"/>
		</li>
		<li>
			<button id="reg">注册</button>
		</li>
	</ul>
</div>
{{> index/include}}
{{#extend "head"}}
	<style type="text/css">
		div.login {
			max-width: 600px;
			padding: 10px;
			margin: auto;
		}

		div.login ul {
			list-style: none;
		}

		div.login ul li {
			margin-bottom: 10px;
		}
	</style>
{{/extend}}
{{#extend "foot"}}
	<script type="text/javascript">
		$(function() {
			$("#reg")
				.click(function() {
					var btn = $(this);
					btn.css("disabled", true)
						.text("注册中...");
					$.ajax(
						{
							url: "/reg",
							type: "post",
							data: {
								username: $("#phone")
									.val(),
								password: $("#password")
									.val(),
								repassword: $("#repassword")
									.val()
							},
							success: function(data) {
								console.log(data);
								btn.css("disabled", false)
									.text("注册");
								if (!data.success) {
									alert(data.data);
								} else {
									location.href = "/";
								}
							},
							error: function(err) {
								console.log(err);
								btn.css("disabled", false)
									.text("注册");
							}
						}
					);
				});
		});
	</script>
{{/extend}}
