@media (max-width: 600px) {
	.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10, .row-11, .row-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

div.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	line-height: 40px;
	height: 40px;
	/*border-bottom: 1px rgb(207, 207, 207) solid;*/
	background: #000;
	z-index: 1;
}

div.menu ul {
	padding: 0 10px;
}

div.menu ul.left {
	float: left;
}

div.menu ul.right {
	float: right;
}

div.menu ul li {
	display: inline-block; /*Flex布局*/
	/*display: -webkit-flex; !* Safari *!*/
	align-items: center; /*指定垂直居中*/
}

div.menu ul li a {
	text-decoration: none;
	color: #FFF;
}

div.menu ul li a:hover {
	color: #999;
}

div.menu ul li.logo i {
	font-size: 20px;
	display: inline-block;
	font-weight: bold;
	color: #4898F8;
}

div.menu ul li.logo a {
	font-weight: bold;
	color: #999;
}

/*container*/
div.container {
	padding: 45px 5px 5px 155px;
	position: relative;
}

/*sider*/
div.sider {
	position: fixed;
	top: 40px;
	left: 0;
	bottom: 0;
	background: #333;
	width: 150px;
	z-index: 1;
	overflow-y: auto;
}

div.sider ul li {
	line-height: 40px;
}

div.sider ul li a {
	padding: 0 20px;
	display: block;
	color: #FFF;
	text-decoration: none;
}

div.sider ul li a:hover, div.sider ul li a.on {
	background: #4898F8;
}

div.sider ul li a i {
	text-align: center;
	width: 20px;
}

@media (max-width: 600px) {
	div.container {
		padding: 45px 5px 5px 45px;
	}

	div.sider {
		width: 40px;
	}

	div.sider ul li a {
		padding: 0;
		display: block;
	}

	div.sider ul li a i {
		width: 40px;
		margin-right: 0;
	}

	div.sider ul li a span {
		display: none;
	}
}

div.item {
	padding: 5px;
	background: RGB(240, 240, 240);
}

div.item img {
	width: 100%;
}

div.item div.content {
	padding: 5px;

}

div.item div.content h1 a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

div.item div.content h1 a:hover {
	color: #4898F8;
}

div.item div.content span {
	display: block;
	line-height: 20px;
}

div.item div.content span.author {
	color: #999;
}

div.item div.content span.money b {
	color: green;
}

ul.page {
	text-align: center;
}

ul.page li {
	display: inline-block;
}

ul.page li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #FFF;
	border: 1px solid #999;
	text-decoration: none;
	font-size: 14px;
	color: #999;
	font-weight: bold;
	user-select: none;
}

ul.page li a.on, ul.page li a:hover {
	background: #4898F8;
	border-color: #4898F8;
	color: #FFF;
}

ul.page li a.on {
	color: #FFF;
	background: #999;
	border-color: #999;
	pointer-events: none;
	cursor: not-allowed;
}

div.container div.info {
	background: RGB(245, 245, 245);
	border-radius: 3px;
	padding: 5px;
	position: relative;
}

div.info > h1 {
	color: #4898F8;
	font-size: 36px;
}

div.info > span {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
}

div.info > canvas {
	height: 50px;
}

div.container div.system {
	background: RGB(245, 245, 245);
	border-radius: 3px;
	padding: 5px;
}

div.system > h1 {
	font-size: 20px;
	color: #999;
	font-weight: normal;
}

div.system > h1 > span::after {
	content: '%';
}

div.system > h1 > span.top::after {
	content: '';
}

div.system > ul.canvas, div.system > ul.canvas > li {
	height: 100px;
	position: relative;
	overflow: hidden;
}

div.system > ul.canvas > li > span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

div.do > ul {
	list-style: none;
}

div.do > ul > li {
	line-height: 40px;
	text-align: center;
	margin-bottom: 10px;
	background: #333;
	color: #FFF;
	cursor: pointer;
}

div.do > ul > li.on {
	background: #4898F8;
}

div.do > ul > li > label {
	cursor: pointer;
}

div.doContent > div {
	display: none;
}

div.doContent > div.on {
	display: block;
}

div.row-12 > h1 {
	font-size: 12px;
}

div.row-12 > h1 > span {
	font-weight: normal;
	color: #999;
}

div.console {
	/* background: #333; */
	/* min-height: 200px; */
	/* padding: 5px; */
}

div.console > ul {
	list-style: none;
}

div.console > ul > li {
	line-height: 20px;
	word-wrap: break-word;
}

div.console > ul > li.ok {
	color: green;
}

div.console > ul > li.warn {
	color: rgb(255, 41, 226);
}

div.console > ul > li.error {
	color: red;
}

div.console > ul > li > b {
	font-weight: normal;
	color: #999;
	margin-right: 5px;
}

div.console > ul li > b.type {
	font-weight: bold;
}

div.config h1 {
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
	line-height: 30px;
	padding: 5px 0;
}

div.config h1 i {
	font-weight: bold;
}

div.config div.li {
	border-left: 2px #4898F8 solid;
	padding-left: 10px;
}

div.config div.li label.from::before {
	content: ">";
	margin-right: 10px;
	color: #CCC;
}

div.config label.from {
	line-height: 29px;
}

div.config input.config, div.config textarea.config {
	display: block;
	width: 100%;
	padding: 5px;
	outline: none;
	resize: none;
}

div.checkbox {
	width: 54px;
	height: 29px;
	display: inline-block;
	background: #CCC;
	border: 1px solid #CCC;
	border-radius: 27px;
	vertical-align: middle;
	cursor: pointer;
}

div.checkbox.on {
	background: #4898F8;
	border-color: #4898F8;
}

div.checkbox > span {
	display: inline-block;
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	border-radius: 27px;
	background: #FFF;
}

div.checkbox > span::before {
	content: 'Off';
}

div.checkbox.on > span {
	float: right;
}

div.checkbox.on > span::before {
	content: 'On';
}

div.gather {
	background: RGB(242, 242, 242);
}

div.gather > div > label {
	height: 30px;
	position: relative;
	padding-right: 30px;
	text-align: center;
	display: block;
	line-height: 30px;
	background: #FFF;
	width: 100%;
}

div.gather > div > label > i {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0;
	right: 0;
	background: #CCC;
	font-style: normal;
	color: #FFF;
	cursor: pointer;
}

div.gather > div > label > i::before {
	content: 'X';
}
