div.header {
    min-width: 1200px;
    margin: auto;
    min-height: 300px;
    background: RGB(245, 245, 245);
}

div.header div.main {
    max-width: 1180px;
    margin: 0 10px;
    margin: auto;
    height: 300px;
    padding-right: 280px;
    position: relative;
    background: #999;
}

div.header div.main div.logo {
    position: absolute;
    top: 56px;
    text-align: center;
    height: 56px;
    line-height: 56px;
    left: 0;
    right: 280px;
}

div.header div.main div.logo h1 {
    display: inline-block;
    line-height: 56px;
    vertical-align: middle;
}

div.header div.main div.logo form {
    display: inline-block;
    vertical-align: middle;
    /* position: absolute;
    top: 52px;
    left: 0;
    right: 0; */
}

div.header div.main div.logo input {
    display: block;
    margin: auto;
    width: 700px;
    font-size: 24px;
    outline: none;
    border: none;
    /* border-radius: 30px; */
    background: none;
    padding: 5px 15px;
    border: 5px RGBA(0, 0, 0, 0.3) solid;
    border-radius: 30px;
    background: #fff;
    height: 50px;
}

div.header div.main div.user {
    background: #333;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 280px;
    height: 300px;
    /* line-height: 300px; */
}

div.header div.main div.user a {
    color: rgb(153, 153, 153);
    text-decoration: none;
    padding: 0 3px;
    display: inline-block;
}

div.container {
    width: 1200px;
    margin: auto;
}

a.img {
    overflow: hidden;
}

h1.title {
    font-size: 16px;
    color: red;
    padding-left: 10px;
    border-left: 4px red solid;
}

h1.title span {
    color: #999;
}

@media (max-width: 1000px) {
    div.header div.main {
        padding-right: 0;
    }
    div.header {
        min-width: 900px;
    }
    div.header div.main {
        max-width: 900px;
    }
    div.header div.main div.logo {
        right: 0;
    }
    div.header div.main div.user {
        display: none;
    }
    div.container {
        width: 900px;
    }
    div.row300 {
        display: none;
    }
}
@media (max-width: 700px) {
    div.header {
        min-width: 677px;
    }
    div.header div.main {
        max-width: 677px;
    }
    div.header div.main div.logo input {
        width: 360px;
    }
    div.container {
        width: 677px;
    }
    div.row900 {
        -ms-flex: 0 0 677px;
        flex: 0 0 677px;
        width: 677px;
    }
}
/* @media (max-width: 500px) {
    div.container {
        width: 455px;
    }
    div.row900 {
        -ms-flex: 0 0 455px;
        flex: 0 0 455px;
        width: 455px;
    }
} */

div.item div.content {
    /* padding: 5px; */
    /* height: 80px;
    top: -90px;
    left: 0;
    right: 0;
    position: absolute;
    background: RGBA(0, 0, 0, 0.7); */
}
div.item div.content span {
    display: inline-block;
    color: #999;
}
div.item div.content span.money b::before {
    content: '¥';
}
div.item div.content span.money b {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 0, 98);
}
div.item div.content span.money u::before {
    content: '¥';
    margin-right: 3px;
}
div.item div.content span.money u {
    text-decoration: line-through;
}
div.item div.content span.money i {
    display: inline-block;
    font-size: 12px;
    /* line-height: 20px; */
    background: rgb(255, 60, 135);
    color: #FFF;
    padding: 2px 5px;
    border-radius: 3px;
}
div.item div.content span.author {
    text-decoration: underline;
    max-width: 50%;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.item div.content span.author:hover {
    color: rgb(255, 0, 98);
}
div.item div.content span.author i {
    margin-right: 3px;
    color: rgb(255, 0, 98);
}
div.item div.content span.left {
    float: left;
    line-height: 20px;
}
div.item div.content span.right {
    float: right;
    line-height: 20px;
}
div.item div.content span.right i {
    margin-right: 3px;
    color: rgb(255, 152, 191);
}
div.item h1 {
    position: relative;
    padding: 5px;
}
div.item h1 a {
    align-items: unset;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
div.item h1 a:hover {
    color: rgb(255, 0, 98);
    text-decoration: underline;
}


@media (min-width: 500px) {
    div.item {
        position: relative;
        padding: 5px;
        background: RGB(240, 240, 240);
        border: 1px solid RGB(240, 240, 240);
    }
    div.item:hover {
        border-color: rgb(255, 0, 98);
    }
    div.item a.img {
        color: #333;
        text-decoration: none;
        overflow: hidden;
    }
    div.item img {
        min-height: 80px;
    }
    div.item div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    div.header {
        min-width: 100%;
    }
    div.header div.main {
        max-width: 100%;
    }
    div.header div.main div.logo {
        top: 20px;
    }
    div.header div.main div.logo h1 {
        display: none;
    }
    div.container {
        width: 100%;
    }
    div.row900 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }
    div.row222 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }
    h1.title span {
        display: block;
    }
    div.item {
        position: relative;
        background: RGB(240, 240, 240);
        border: 1px solid RGB(240, 240, 240);
    }
    div.item:hover {
        border-color: rgb(255, 0, 98);
    }
}