div.headerItem {
    max-width: 1180px;
    margin: auto;
    position: relative;
    background: RGB(242, 242, 242);
    height: 380px;
    padding: 10px 10px 10px 320px;
}

div.headerItem > h1 {
    font-size: 24px;
}
div.headerItem > div.img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px solid #333;
}
div.headerItem > div.img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 297px;
}
div.headerItem > ul.images {
    width: 300px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
div.headerItem > ul.images > li {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 3px solid #333;
    position: relative;
}
div.headerItem > ul.images > li > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    cursor: pointer;
}
div.headerItem > div.button {
    position: absolute;
    bottom: 10px;
    left: 320px;
    right: 10px;
}
div.headerItem > div.button > a {
    display: inline-block;
    line-height: 20px;
    background: #4898F8;
    color: #FFF;
    padding: 5px;
    text-decoration: none;
}
