* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

i.fa {
    margin-right: 10px;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.clear {
    clear: both;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*.row-1 div,.row-2 div,.row-3 div,.row-4 div,.row-5 div,.row-6 div,.row-7 div,.row-8 div,.row-9 div,.row-10 div,.row-11 div,.row-12 div {*/
    /*padding: 0 15px;*/
/*}*/
.row-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
}
.row-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
}
.row-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.row-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
.row-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}
.row-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}
.row-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}
.row-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.row-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
}
.row-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
}
.row-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.row222 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 222px;
    flex: 0 0 222px;
    width: 222px;
}
.row300 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    width: 300px;
}
.row900 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 900px;
    flex: 0 0 900px;
    width: 900px;
}
.row-1,.row-2,.row-3,.row-4,.row-5,.row-6,.row-7,.row-8,.row-9,.row-10,.row-11,.row-12,.row222,.row300,.row900 {
    padding: 5px;
}
.row-1 > label,.row-2 > label,.row-3 > label,.row-4 > label,.row-5 > label,.row-6 > label,.row-7 > label,.row-8 > label,.row-9 > label,.row-10 > label,.row-11 > label,.row-12 > label,.row222 > label,.row300 > label,.row900 > label {
    text-align: center;
    display: block;
    line-height: 30px;
    background: #CCC;
    width: 100%;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
    margin: -1px;
}
td, th {
    border: 1px solid #FFF;
}
table thead {
    background: RGB(245, 245, 245);
}
table tr {
    line-height: 30px;
}
table tr td img {
    display: block;
    height: 30px;
}

a {
    display: flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items: center;/*指定垂直居中*/
}

input, button {
    width: 100%;
    padding: 5px;
    outline: none;
    resize: none;
    height: 30px;
    line-height: 20px;
}

textarea {
    width: 100%;
    padding: 5px;
    outline: none;
    resize: none;
    height: 100px;
    line-height: 20px;
}

button {
    background: #4898F8;
    color: #FFF;
    /* border-radius: 3px; */
    border: 1px #4898F8 solid;
}
button:disabled {
    background: #CCC;
    border-color: #CCC;
}

canvas {
    width: 100%;
    height: 200px;
}

ul.canvas {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.canvas > li {
    float: right;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1px;
    flex: 0 0 1px;
    max-width: 1px;
}
ul.canvas > li > span {
    display: block;
    background: #4898F8;
}

div.checked {
    background: #CCC;
    border: 1px solid #CCC;
    border-radius: 15px;
    line-height: 27px;
    height: 27px;
    width: 50px;
    cursor: pointer;
}
div.checked span {
    display: block;
    line-height: 25px;
    text-align: center;
    background: #FFF;
    border-radius: 15px;
    width: 25px;
    height: 25px;
}
div.checked span::before {
    content: '开';
}
div.checked.on {
    background: #4898F8;
    border-color: #4898F8;
}
div.checked.on span {
    float: right;
}
div.checked.on span::before {
    content: '关'
}