* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    /* font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif; */
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

div.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 55px;
    height: 55px;
    background: #24292e;
    /* border-bottom: 1px #24292e solid; */
    z-index: 1;
}

div.menu div.main {
    max-width: 1200px;
    margin: auto;
    line-height: 55px;
    height: 55px;
    background: #24292e;
}

div.menu ul {
    padding: 12px;
}

div.menu ul.left {
    float: left;
}

div.menu ul.right {
    float: right;
}

div.menu ul li {
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

div.menu ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: rgba(255,255,255,0.75);
	margin-right: 10px;
}

div.menu ul li:last-child a {
	margin-right: 0;
}

div.menu ul li a:hover {
    color: #FFF;
}

div.menu ul li.header-logo a i {
    font-size: 26px;
    /* font-weight: bold; */
    color: rgb(255, 0, 98);
    vertical-align: middle;
    text-shadow: 0 0 3px #000;
}

div.menu ul li.header-logo a span {
    vertical-align: middle;
    font-size: 14px;
    color: rgba(255,255,255,0.75);
}

div.menu ul li.header-search {
    display: none;
    margin-left: 20px;
}

div.menu ul li.header-search input {
    height: 30px;
    line-height: 30px;
    width: 300px;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px;
    background: rgba(255,255,255,0.125);
    outline: none;
    border: none;
    color: rgb(177, 177, 177);
}

div.menu ul li.header-search input:focus {
    background:rgba(255,255,255,0.175);
    color:rgb(177, 177, 177);
}

div.menu-background {
    height: 55px;
}

@media (max-width: 600px) {
    div.menu ul li.header-logo a span {
        display: none;
    }
    div.menu ul li.header-search {
        margin-left: 0;
    }
    div.menu ul li.header-search input {
        width: 170px;
    }
}
