<div class="menu">
	<div class="main">
		<ul class="left">
			<li class="header-logo">
				<a href="/">
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					<span>{{site.name}}</span>
				</a>
			</li>
			<li class="header-search">
				<form{{#unless list}} target="_blank" {{/unless}} action="/list" method="get">
					<input name="s" value="{{s}}" placeholder="女装" autocomplete="off"/>
				</form>
			</li>
		</ul>
		<ul class="right">
			{{#if session.user}}
				<li>
					<a href="/account">{{session.user.username}}</a>
				</li>
				<li>
					<a href="/admin">管理中心</a>
				</li>
				<li>
					<a href="/logout">退出</a>
				</li>
			{{else}}
				<li>
					<a href="/login">登陆</a>
				</li>
				<li>
					<a href="/reg">注册</a>
				</li>
			{{/if}}
		</ul>
	</div>
</div>

<div class="menu-background"></div>
