{{#extend "head"}}
<!--<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">-->
<link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/style.css" /> {{/extend}} {{#extend "foot"}}
<script src="/js/system.js"></script>
<script type="text/javascript">
	$(function () {
		window.socket = io();
		window.socket.on("connect", function () {
			window.socket.emit("user", getCookie("socketID"), function (id) {
				setCookie("socketID", id);
			});
		});
	});
</script> {{/extend}}
